.vscode
genrecord
.idea/.gitignore
.idea/modules.xml
.idea/RFD.iml
.idea/vcs.xml
script/go_modules/.idea/module.iml
script/go_modules/.idea/.gitignore
script/go_modules/.idea/modules.xml
script/go_modules/.idea/vcs.xml
script/go_modules/mkrfd/.idea/.gitignore
script/go_modules/mkrfd/.idea/mkrfd.iml
script/go_modules/mkrfd/.idea/modules.xml
script/go_modules/mkrfd/.idea/vcs.xml
script/go_modules/rfd/rfd
script/go_modules/rfd/rfd.exe
script/go_modules/rfd/.idea/modules.xml
script/go_modules/rfd/.idea/rfd.iml
script/go_modules/rfd/.idea/.gitignore
script/go_modules/rfd/.idea/vcs.xml
script/go_modules/rfd/.idea/codeStyles/codeStyleConfig.xml
/script/go_modules/.idea/
/rfd.exe
/bin/rfd.exe
/.idea/rfd.iml
/bin/
/rfd
